*.node filter=lfs diff=lfs merge=lfs -text
client/.next/cache/webpack/client-development/12.pack filter=lfs diff=lfs merge=lfs -text
client/node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node filter=lfs diff=lfs merge=lfs -text
